<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.asobullc.jeffrey.capitalone" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.asobullc.jeffrey.capitalone.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.asobullc.jeffrey.capitalone.MainGroupActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName="com.asobullc.jeffrey.capitalone.MainIndividualActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.asobullc.jeffrey.capitalone.MainIndividualActivity" />
        </activity>

        <activity
            android:name="com.asobullc.jeffrey.capitalone.MainSettingsActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName="com.asobullc.jeffrey.capitalone.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.asobullc.jeffrey.capitalone.MainActivity" />
        </activity>

        <activity
            android:name="com.asobullc.jeffrey.capitalone.MainIndividualActivity"
            android:label="@string/title_activity_main"
            android:parentActivityName="com.asobullc.jeffrey.capitalone.MainSettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.asobullc.jeffrey.capitalone.MainActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>